<!DOCTYPE html>
<html>

   <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/form.min.css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/button.min.css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/grid.min.css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/input.min.css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/segment.min.css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/message.min.css" />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/form.min.js"></script>
   </head>

   <body>
    <div class="ui middle aligned center aligned grid">
      <div class="two wide column">
        <h2 class="ui teal header">
          <div class="content">
            Create a New User
          </div>
        </h2>
        <form class="ui large form" action="/api/exercise/new-user" method="post">
          <div class="ui stacked segment">
            <div class="field">
              <div class="ui input">
                <input type="text" name="username" placeholder="username" autocomplete="off" >
              </div>
            </div>
            <button class="ui button teal" type="submit">Submit</button>
          </div>
        </form>
      </div>
     
      <div class="two wide column">
        <h2 class="ui teal header">
          <div class="content">
            Add exercises
          </div>
        </h2>
        <form class="ui large form" action="/api/exercise/add" method="post">
          <div class="ui stacked segment">
            <div class="field">
              <div class="ui input">             
                <input type="text" name="userid" placeholder="userid" autocomplete="off" required>
              </div>
            </div>
            <div class="field">
              <div class="ui input">             
                <input type="text" name="description" placeholder="description" autocomplete="off" required >
              </div>
            </div>
            <div class="field">
              <div class="ui input">             
                <input type="text" name="duration" placeholder="duration (min)" autocomplete="off" required >
              </div>
            </div>
            <div class="field">
              <div class="ui input">             
                <input type="text" name="date" placeholder="date (yyyy-mm-dd)" autocomplete="off" >
              </div>
            </div>
            <button class="ui button teal" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
    <div class="ui message">
      <div class="header">
        GET users's exercise log: GET /api/exercise/log?{userId}[&from][&to][&limit]
      </div>
      <p> { } = required, [ ] = optional

          from, to = dates (yyyy-mm-dd); limit = number </p>
    </div>
   </body>

</html>
